@{
    ViewBag.Title = "E-mail cím megerősítése";
}

<h2>@ViewBag.Title</h2>
<div>
    <p>
        Köszönjük a megerősítést! <br/>
        @Html.ActionLink("Bejelentkezés", "Login", "Account", routeValues: null, htmlAttributes: new { id = "loginLink" })
    </p>
</div>
