@{
    ViewBag.Title = "E-mail cím megerősítése";
}

<h2>@ViewBag.Title</h2>
<div>
    <p>
        Köszönjük, hogy megerősítette e-mail címét! @Html.ActionLink("Kattintson ide a belépéshez!", "Login", "Account", routeValues: null, htmlAttributes: new { id = "loginLink" })
    </p>
</div>
