@{
    ViewBag.Title = "Elfelejtett jelszó helyreállítása";
}

<hgroup class="title">
    <h1>@ViewBag.Title</h1>
</hgroup>
<div>
    <p>
        Ellenőrizze e-mail fiókját jelszava helyreállításához!
    </p>
</div>
	
