@{
    ViewBag.Title = "Elfelejtett jelszó helyreállítása";
}

<hgroup class="title">
    <h1>@ViewBag.Title</h1>
</hgroup>
<div>
    <p>
        Ha tényleg a regisztrált e-mail címedet adtad meg, elküldtük rá a linket jelszavad helyreállításához!
    </p>
</div>
	
