@{
    ViewBag.Title = "Rólunk";
}
<h2>@ViewBag.Title</h2>
<h3>@ViewBag.Message</h3>

<p>A szirmabesenyői Petőfi Sándor Művelődési Ház Nagy Pele Túraköre 2016 januárja 
    óta nyújt lehetőséget a természetjárás tevékenysége iránt érdeklődőknek, hogy 
    a környékünkön fellelhető környezeti szépségek felkeresésével, egészséges 
    testmozgással szervezett formában lehessenek a kikapcsolódás részesei.</p>
<p>Havonta egyszer tartunk gyalogtúrát főleg közeli szomszédunk, a Bükk útjait járva,
    de pl. a Zempléni-hegység , a Gömör-Tornai-karszt vidéke, a Szlovák Paradicsom szurdokvölgyei
    ugyancsak vonzanak bennünket.</p>
