@{
    ViewBag.Title = "Kapcsolat";
}
<h2>@ViewBag.Title</h2>
<h3>@ViewBag.Message</h3>

<address>
    <strong>E-mail:</strong>   <a href="mailto:nagypeletura@gmail.com">nagypeletura@gmail.com</a><br />
    <a href="https://www.facebook.com/groups/nagypeleturakor/">A túrakör Facebook-csoportja</a><br />
    <a href="https://www.facebook.com/petofimuvhaz.szb">A Petőfi Sándor Művelődési Ház Facebook-oldala</a>
    <a href="http://szirmabesenyo.hu/">Szirmabesenyő nagyközség weboldala</a>
</address>