@{
    ViewBag.Title = "Nagy Pele Túrakör";
}

<div class="jumbotron">
    <h1>Nagy Pele Túrakör</h1>
    <p class="lead">Köszöntünk minden túratársat és látogatót!</p>
    <p><input type="button" class="btn btn-primary btn-lg" value="Belépés &raquo" onclick="location.href='@Url.Action("Login", "Account")'"></p>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>Aktuális: túra vhova</h2>
        <p>
            Például a soron következő túra részleteinek oldalára vezető link, ahol minden adat + a jelentkezés lehetősége azonnal látható
        </p>
        <p><a class="btn btn-default" href="https://go.microsoft.com/fwlink/?LinkId=301865">Megnézem &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Előző túránk</h2>
        <p>Például az előző túra részletes oldala adatokkal, leírással, képekkel?</p>
        <p><a class="btn btn-default" href="https://go.microsoft.com/fwlink/?LinkId=301866">Megnézem &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Itt mi lesz?</h2>
        <p>Ezek mindig kifelé vezető dolgok? Lehet itt pl. Hírek vagy Érdekességek vagy ilyesmi...</p>
        <p><a class="btn btn-default" href="https://go.microsoft.com/fwlink/?LinkId=301867">Megnézem &raquo;</a></p>
    </div>
</div>